<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <div class="lesson-page-wrapper">
        <div class="adoc-content" th:replace="doc:WebGoatReaper.adoc"></div>
    </div>

    <div class="lesson-page-wrapper">
        <div class="adoc-content" th:replace="doc:WGR_sqlInjections.adoc"></div>
    </div>

    <div class="lesson-page-wrapper">
        <div class="adoc-content" th:replace="doc:WGR_authBypasses.adoc"></div>
    </div>

    <div class="lesson-page-wrapper">
        <div class="adoc-content" th:replace="doc:WGR_xss.adoc"></div>
    </div>

    <div class="lesson-page-wrapper">
        <div class="adoc-content" th:replace="doc:WGR_accessControl.adoc"></div>
    </div>

    <div class="lesson-page-wrapper">
        <div class="adoc-content" th:replace="doc:WGR_insecureComm.adoc"></div>
    </div>

    <div class="lesson-page-wrapper">
        <div class="adoc-content" th:replace="doc:WGR_csrf.adoc"></div>
    </div>

    <div class="lesson-page-wrapper">
        <div class="adoc-content" th:replace="doc:WGR_clientSideFiltering.adoc"></div>
    </div>

</html>
