<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <script th:src="@{/lesson_js/wgr.js}" />

    <div class="lesson-page-wrapper">
        <div class="adoc-content" th:replace="doc:WebGoatReaper.adoc"></div>
    </div>

    <div class="lesson-page-wrapper">
        <div>
            <label>Merci de fournir le mot de passe :</label>
            <input type="text" id="cheat-code-1"/>
            <button onclick="checkCheatCode(1)">Vérifier le mot de passe</button>
        </div>
        <div id="correction-1" style="display:none;">
            <div class="adoc-content" th:replace="doc:WGR_sqlInjections.adoc">
            </div>
        </div>
    </div>

    <div class="lesson-page-wrapper">
        <div>
            <label>Merci de fournir le mot de passe :</label>
            <input type="text" id="cheat-code-2"/>
            <button onclick="checkCheatCode(2)">Vérifier le mot de passe</button>
        </div>
        <div id="correction-2" style="display:none;">
            <div class="adoc-content" th:replace="doc:WGR_authBypasses.adoc"></div>
        </div>
    </div>

    <div class="lesson-page-wrapper">
        <div>
            <label>Merci de fournir le mot de passe :</label>
            <input type="text" id="cheat-code-3"/>
            <button onclick="checkCheatCode(3)">Vérifier le mot de passe</button>
        </div>
        <div id="correction-3" style="display:none;">
            <div class="adoc-content" th:replace="doc:WGR_xss.adoc"></div>
        </div>
    </div>

    <div class="lesson-page-wrapper">
        <div>
            <label>Merci de fournir le mot de passe :</label>
            <input type="text" id="cheat-code-4"/>
            <button onclick="checkCheatCode(4)">Vérifier le mot de passe</button>
        </div>
        <div id="correction-4" style="display:none;">
            <div class="adoc-content" th:replace="doc:WGR_accessControl.adoc"></div>
        </div>
    </div>

    <div class="lesson-page-wrapper">
        <div>
            <label>Merci de fournir le mot de passe :</label>
            <input type="text" id="cheat-code-5"/>
            <button onclick="checkCheatCode(5)">Vérifier le mot de passe</button>
        </div>
        <div id="correction-5" style="display:none;">
            <div class="adoc-content" th:replace="doc:WGR_insecureComm.adoc"></div>
        </div>
    </div>

    <div class="lesson-page-wrapper">
        <div>
            <label>Merci de fournir le mot de passe :</label>
            <input type="text" id="cheat-code-6"/>
            <button onclick="checkCheatCode(6)">Vérifier le mot de passe</button>
        </div>
        <div id="correction-6" style="display:none;">
            <div class="adoc-content" th:replace="doc:WGR_csrf.adoc"></div>
        </div>
    </div>

    <div class="lesson-page-wrapper">
        <div>
            <label>Merci de fournir le mot de passe :</label>
            <input type="text" id="cheat-code-7"/>
            <button onclick="checkCheatCode(7)">Vérifier le mot de passe</button>
        </div>
        <div id="correction-7" style="display:none;">
            <div class="adoc-content" th:replace="doc:WGR_clientSideFiltering.adoc"></div>
        </div>
    </div>

</html>
